@use "styles/colors";
@use "styles/mixins";

*:hover {
  text-decoration: none !important;
}

.button {
  @include mixins.flexbox;
  @include mixins.justify-content(center);
  width: 9.7rem;
  height: 3.45rem;
  margin: 0.63rem;
  align-items: center;
  font-size: 1.4em;
  font-weight: 500;
  border-radius: 0.3rem;
  text-decoration: none;
  transition: all 100ms ease-in;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &--auto-width {
    width: auto;
    padding: 0 0.63rem;
  }

  &__primary {
    border: 2px solid colors.$primary-color;
    color: colors.$white-color;
    background-color: colors.$primary-color;

    &:hover {
      background-color: colors.$dark-primary-color;
      color: colors.$white-color;
    }
  }

  &__secondary {
    border: 2px solid colors.$primary-color;
    color: colors.$primary-color;
    background-color: colors.$white-color;

    &:hover {
      background-color: colors.$light-primary-color;
      color: colors.$primary-color;
    }
  }
}