$white-color: #ffffff;
$black-color: #000000;

$primary-color: #2e81f4;
$light-primary-color: #dfecff;
$dark-primary-color: #0869f0;

$grey-color: #a0a0a0;
$light-grey-color: #ececec;
$dark-grey-color: #403f3d;

$error-color: #d80b0b;
$background-color: #f1f1f1;
$background-black-color: #292929;
