@use "styles/colors";
@use "styles/mixins";

.main {
  @include mixins.flexbox;
  @include mixins.flex-direction(row);
  position: relative;
  justify-content: flex-start;
  padding-left: 450px;
  width: 100vw;
}