@use "styles/mixins";

.gallerySidebar {
  @include mixins.flexbox;
  @include mixins.flex-direction(row);
  @include mixins.justify-content(space-between);
  flex-wrap: wrap;

  &__photo {
    height: auto;
    width: 100%;
    border: 3px solid transparent;
    margin-top: 10px;
    box-sizing: border-box;
  }
}
