@use "styles/mixins";

.gallerySidebar {
  @include mixins.flexbox;
  @include mixins.flex-direction(row);
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallerySidebar__photo {
  height: auto;
  width: 100%;
  border: 3px solid transparent;
  margin-top: 10px;
  box-sizing: border-box;
}
