@use "styles/mixins";

.sidebarNav {
  @include mixins.flexbox;
  width: 100%;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
}

.sidebarNav:after {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 0;
  height: 1px;
  width: calc(100% + 40px);
  border-bottom: 1px solid #e7e7e7;
}

.sidebarNav__header {
  @include mixins.flexbox;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header__title {
  font-size: 1.1em;
  font-weight: 500;
}

.header__buttonRow {
  @include mixins.flexbox;
  flex-direction: row;
  margin-right: -10px;
}

.sidebarNav__description {
  @include mixins.flexbox;
  margin-bottom: 30px;
}
