.routePage {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    background-color: #f1f1f1;
}
.routePage__buttonRow {
    margin: 20px 0;
}
.routePage__list {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.routePage__sidebar {
    width: 400px;
    width: 400px;
    height: calc(100vh - 80px);
    position: sticky;
    top: 80px;
    margin-right: 50px;
}