@use "styles/colors";
@use "styles/mixins";

.routePage {
  @include mixins.flexbox;
  @include mixins.flex-direction(row);
  background-color: colors.$background-color;
  min-height: 100vh;
  height: 100%;

  &__buttonRow {
    margin: 20px 0;
    @include mixins.justify-content(flex-start);
    width: 100%;
  }

  &__list {
    @include mixins.flexbox;
    @include mixins.flex-direction(column);
    align-items: center;
    width: 700px;
    padding: 0 10px;

    > .MuiCircularProgress-colorPrimary {
      color: colors.$primary-color;
    }
  }

  &__message {
    &--error {
      color: colors.$error-color;
    }
  }

  @media only screen and (max-width: 600px) {
    .sidebar {
      display: none;
      width: 100vw;
      border-right: none;

      &--visible {
        @include mixins.flexbox;
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    .main {
      justify-content: flex-end;
      padding-left: 0;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .main {
      justify-content: center;
      padding-left: 0;
    }
  }
}