@import "styles/variables";

.routePage {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  background-color: $background-color;
}
.routePage__buttonRow {
  margin: 20px 0;
  justify-content: flex-start;
  width: 100%;
}
.routePage__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
}

.routePage__list > .MuiCircularProgress-colorPrimary {
  color: $primary-color;
}

.routePage__message--error {
  color: $error-color;
}

.routePage__sidebar {
  width: 400px;
  width: 400px;
  height: calc(100vh - 80px);
  position: sticky;
  top: 80px;
  margin-right: 50px;
}
