@use "styles/colors";
@use "styles/mixins";

$header-height: 80px;

%flex-row {
  @include mixins.flexbox;
  @include mixins.flex-direction(row);
}

.header {
  min-height: $header-height;
  background-color: colors.$white-color;
  @include mixins.flexbox;
  @include mixins.justify-content(space-between);
  flex-wrap: wrap;
  border-bottom: 1px solid #c2c2c2;
  position: sticky;
  top: 0;
  z-index: 100;
  @include mixins.box-shadow(0px, 5px, 8px, -9px, colors.$black-color);
  @include mixins.box-shadow(0px, 5px, 8px, -9px, rgba(0, 0, 0, 0.75));

  &__left {
    @extend %flex-row;
    // flex-wrap: wrap;
  }

  &__right {
    @extend %flex-row;
  }

  &__text {
    font-weight: 600;
    margin-left: 15px;
    color: colors.$grey-color;
  }

  &__logout-error {
    @include mixins.flexbox;
    position: absolute;
    color: colors.$error-color;
    font-size: 0.7rem;
    left: 0;
    width: 100%;
    bottom: 0;
    @include mixins.justify-content(center);
  }

  &__element {
    @include mixins.flexbox;
    align-items: center;
    padding: 0 35px;
    cursor: pointer;
    margin: 0 5px;
    border-bottom: 4px solid transparent;

    &:hover {
      background-color: colors.$light-grey-color;
      border-radius: 5px;
      align-items: center;
      padding: 0 35px;
      text-decoration: none;

      > .MuiSvgIcon-root {
        color: colors.$primary-color;
      }

      .header__text {
        color: colors.$primary-color;
      }
    }

    > .MuiSvgIcon-root {
      color: colors.$grey-color;
    }

    &--active {
      border-bottom: 4px solid colors.$primary-color;

      &:hover {
        background-color: transparent;
        border-radius: 0;
      }

      > .MuiSvgIcon-root {
        color: colors.$primary-color;
      }

      .header__text {
        color: colors.$primary-color;
      }
    }

    &--logout {
      position: relative;

      &:hover {
        background-color: transparent;
      }
    }
  }

  @media only screen and (max-width: 685px) {
    &__element {
      width: 33vw;
      padding: 0;
      @include mixins.flex-direction(column);
      @include mixins.justify-content(center);
    }

    &__text {
      margin-left: 0;
    }

    &__left {
      width: 100vw;
      @include mixins.justify-content(space-between);
    }

    &__right {
      display: none;
    }
  }
}
