.header {
  min-height: 80px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #c2c2c2;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
}

.header__left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header__right {
  display: flex;
  flex-direction: row;
}

.header__element {
  display: flex;
  align-items: center;
  padding: 0 35px;
  cursor: pointer;
  margin: 0 5px;
  border-bottom: 4px solid transparent;
}

@media only screen and (max-width: 600px) {
  .header__element {
    width: 100vw;
    padding: 15px 35px;
  }
}

.header__element > .MuiSvgIcon-root {
  color: #a0a0a0;
}

.header__element--active > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__element--active {
  border-bottom: 4px solid #2e81f4;
}

.header__element:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__element:hover .header__text {
  color: #2e81f4;
}



.header__element:hover {
  background-color: #ececec;
  border-radius: 5px;
  align-items: center;
  padding: 0 35px;
  text-decoration: none;
}

.header__element--active:hover {
  background-color: transparent;
  border-radius: 0;
}

.header__element--logout {
  position: relative;
}

.header__logout-error {
    position: absolute;
    color: red;
    font-size: 0.7rem;
    left: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.header__element--logout:hover {
  background-color: transparent;
}

.header__text {
  font-weight: 600;
  margin-left: 15px;
  color: #a0a0a0;
}

.header__element--active .header__text {
  color: #2e81f4;
}
