@use "styles/mixins";

.route {
  &__detailsRow {
    @include mixins.flexbox;
    @include mixins.flex-direction(row);
    align-items: center;
    padding: 11px 5px;
  }
}

.detailsRow {
  &__item {
    margin: 0 20px;
    font-size: 1em;
  }

  &:first-child {
    margin: 0 20px 0 10px;
    font-size: 1em;
  }
}

.item {
  &__value {
    font-weight: 500;
  }

  &__label {
    margin: 0 7px;
  }
}
