.sidebar {
  width: 400px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: calc(100vh - 80px);
  background-color: #ffffff;
  position: sticky;
  padding: 20px 20px 10px 20px;
  top: 80px;
  box-shadow: 5px 0px 8px -9px rgba(0, 0, 0, 0.75);
  border-right: 1px solid #c2c2c2;
  margin-right: 50px;
  transform: translateX(-400px);
  transition-property: -webkit-transform, transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  overflow-y: overlay;
}

.sidebar--visible {
  transform: translateX(0);
}

.sidebar .route__map {
  height: 200px;
  margin-top: 30px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a0a0a0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}
