@use "styles/colors";
@use "styles/mixins";
@use "../header/Header.scss";

$sidebar-width: 400px;

.sidebar {
  display: flex;
  min-width: $sidebar-width;
  @include mixins.flex-direction(column);
  z-index: 2;
  height: calc(100vh - #{Header.$header-height});
  background-color: colors.$white-color;
  position: fixed;
  padding: 20px 20px 10px 20px;
  top: Header.$header-height;
  @include mixins.box-shadow(5px, 0px, 8px, -9px, colors.$black-color);
  @include mixins.box-shadow(5px, 0px, 8px, -9px, rgba(0, 0, 0, 0.75));
  border-right: 1px solid #c2c2c2;
  margin-right: 50px;
  transform: translateX(calc(-1 * (#{$sidebar-width} + 5px)));
  transition-property: -webkit-transform, transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  overflow-y: overlay;

  &--visible {
    transform: translateX(0);
    @include mixins.flexbox;
  }
}
