@use "styles/colors";
@use "styles/mixins";
@use "../header/Header.scss";

@-webkit-keyframes showBackgroundImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes showBackgroundImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes showBackgroundImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showBackgroundImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dashboardPage {
  overflow: hidden;

  &__background {
    height: calc(100vh - #{Header.$header-height});
    background: url(../../assets/images/dashboard_background.jpg) no-repeat
      center center fixed;
    @include mixins.background-size(cover);
    @include mixins.flexbox;
    @include mixins.flex-direction(column);
    align-items: center;
    position: relative;
    filter: blur(2px);
    transform: scale(1.1);
    opacity: 0;
    @include mixins.animation(showBackgroundImage);
    animation-fill-mode: forwards;
  }

  &__content {
    @include mixins.flexbox;
    @include mixins.justify-content(center);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;

    section {
      @include mixins.flexbox;
      @include mixins.flex-direction(column);
      @include mixins.justify-content(center);
      width: 700px;
      background-color: colors.$white-color;
      padding: 40px;
      align-items: center;
      text-align: center;

      h4 {
        margin-bottom: 30px;
      }
    }
  }
}
