@use "styles/colors";
@use "styles/mixins";

.galleryPage {
  @include mixins.flexbox;
  @include mixins.flex-direction(row);

  &__infoSection {
    @include mixins.flexbox;
    @include mixins.justify-content(center);
    align-items: center;

    &--error {
      color: colors.$error-color;
    }

    > .MuiCircularProgress-colorPrimary {
      color: colors.$primary-color;
    }
  }

  .sidebar {
    margin: 0;
  }
}
