.galleryPage {
  display: flex;
  flex-direction: row;
}

.galleryPage__infoSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryPage__infoSection--error {
  color: red;
}

.galleryPage__infoSection > .MuiCircularProgress-colorPrimary {
  color: #2e81f4;
}

.galleryPage .sidebar {
  margin: 0;
}
