@use "styles/colors";
@use "styles/mixins";

.galleryPage {
  @include mixins.flexbox;
  @include mixins.flex-direction(row);

  &__infoSection {
    @include mixins.flexbox;
    @include mixins.justify-content(center);
    align-items: center;

    &--error {
      color: colors.$error-color;
    }

    > .MuiCircularProgress-colorPrimary {
      color: colors.$primary-color;
    }
  }

  .sidebar--visible {
    margin: 0;
    position: sticky;
    transition: none;
  }

  .main {
    padding-left: 0;
  }

  @media only screen and (max-width: 1350px) {
    .sidebarPhotoList {
      grid-template-columns: repeat(1, 1fr);
    }

    .sidebar {
      min-width: 200px;
    }
  }

  @media only screen and (max-width: 450px) {
    .sidebar {
      min-width: 100vw;
      border-right: none;
    }

    .sidebarPhotoList__photo {
      min-height: 200px;
    }
  }
}
