@use "styles/colors";
@use "styles/mixins";

.route {
  cursor: pointer;

  &:hover {
    background-color: colors.$light-grey-color;
  }

  &:hover {
    .route__map:before {
      display: block;
    }
  }

  &__emptyInfo {
    @include mixins.flexbox;
    @include mixins.flex-direction(row);
    @include mixins.justify-content(center);
    padding: 1em;
    font-weight: 500;
  }
}
