@use "styles/colors";
@use "styles/mixins";

.route {
  cursor: pointer;

  &:hover {
    background-color: colors.$light-grey-color;
  }

  &:hover {
    .route__map:before {
      display: block;
    }
  }
}
