@use "styles/colors";
@use "styles/mixins";

.route {
  @include mixins.flexbox;
  @include mixins.flex-direction(column);
  cursor: pointer;
  z-index: 0;
  width: 100%;
  background-color: colors.$white-color;
  border-radius: 10px;
  margin: 20px 0;
  @include mixins.box-shadow(0px, 5px, 8px, -9px, colors.$black-color);
  @include mixins.box-shadow(0px, 5px, 8px, -9px, rgba(0, 0, 0, 0.75));
  transition: all 100ms ease-in;

  &:hover {
    background-color: colors.$light-grey-color;
  }

  &:hover {
    .route__map:before {
      display: block;
    }
  }
}
