@import "styles/variables";

.sidebarPhotoList {
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.sidebarPhotoList__infoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.sidebarPhotoList__infoSection > .MuiCircularProgress-colorPrimary {
  color: $primary-color;
}

.sidebarPhotoList__infoSection--error {
  color: red;
}

.sidebarPhotoList__photo {
  border: 3px solid rgba(46, 129, 244, 0);
  margin-top: 10px;
  box-sizing: border-box;
  min-height: 110px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #e2e2e2;
  transition: all 100ms ease-in;
}

.sidebarPhotoList__photo--selected {
  transform: scale(1.04);
  border-color: rgba(46, 129, 244, 1);
}

.sidebarPhotoList__loadMoreButton {
  margin: 2em 0;
}
