@use "styles/colors";
@use "styles/mixins";

.sidebarPhotoList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: colors.$white-color;

  &__infoSection {
    @include mixins.flexbox;
    @include mixins.justify-content(center);
    align-items: center;
    margin: 2em;

    > .MuiCircularProgress-colorPrimary {
      color: colors.$primary-color;
    }

    &--error {
      color: colors.$error-color;
    }
  }

  &__photo {
    border: 3px solid colors.$white-color;
    margin-top: 10px;
    box-sizing: border-box;
    min-height: 110px;
    background-repeat: no-repeat;
    @include mixins.background-size(cover);
    background-position: center;
    background-color: #e2e2e2;
    transition: all 100ms ease-in;

    &--selected {
      transform: scale(1.04);
      border-color: colors.$primary-color;
    }
  }

  &__loadMoreButton {
    margin: 2em 0;
  }
}