@use "styles/colors";
@use "styles/mixins";

.sidebarPhotoList {
  display: grid;
  @include mixins.flex-direction(row);
  @include mixins.justify-content(space-between);
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: colors.$white-color;
}

.sidebarPhotoList__infoSection {
  @include mixins.flexbox;
  @include mixins.justify-content(center);
  align-items: center;
  margin: 2em;
}

.sidebarPhotoList__infoSection > .MuiCircularProgress-colorPrimary {
  color: colors.$primary-color;
}

.sidebarPhotoList__infoSection--error {
  color: colors.$error-color;
}

.sidebarPhotoList__photo {
  border: 3px solid colors.$white-color;
  margin-top: 10px;
  box-sizing: border-box;
  min-height: 110px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #e2e2e2;
  transition: all 100ms ease-in;
}

.sidebarPhotoList__photo--selected {
  transform: scale(1.04);
  border-color: colors.$primary-color;
}

.sidebarPhotoList__loadMoreButton {
  margin: 2em 0;
}
