@use "styles/colors";
@use "styles/mixins";

.route__map {
  width: 100%;
  height: 400px;
  background-color: #e5e5e5;
  @include mixins.flexbox;
  justify-content: center;
  align-items: center;
}

.route__map > .MuiCircularProgress-colorPrimary {
  color: colors.$primary-color;
}

.route__iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
.route__iframe--hidden {
  display: none;
}
