@use "styles/colors";
@use "styles/mixins";

.login {
    @include mixins.flexbox;
    @include mixins.flex-direction(column);
    @include mixins.justify-content(center);
    height: 100vh;
    align-items: center;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;

    &__content {
        width: 400px;

        .card {
            border: none;
            border-radius: unset;
        }
    }

    @media only screen and (max-width: 400px) {
        &__content {
          width: 100%;
        }
      }
  }