input[type="file"] {
    display: none;
}

.sidebarUploadPhoto__uploadButton {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px solid #a0a0a0;
    color: #a0a0a0;
    border-radius: .25rem;
    background-color: transparent;
    padding: 16px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: 100ms;
}

.sidebarUploadPhoto__uploadButton:hover {
    border-color: #2e81f4;
    color: #2e81f4
}